.wrapper {
  display: grid;
  grid-column-gap: 2em; 
}
.wrapper.two {
  grid-template-columns: repeat(2, 1fr);
}
.wrapper.three {
  grid-template-columns: repeat(3, 1fr);
}

.column {
  box-sizing: border-box;
}

.item {
  margin-bottom: 2em;
  background-color: black;
}

.item > img {
  display: block;
  width: 100%;
}
